keybinds {
	locked {
		bind "Ctrl n" {
			SwitchToMode "Normal"
		}
		unbind "Ctrl g"
	}

	renamepane {
		bind "Esc" {
		    UndoRenamePane;
			SwitchToMode "Pane"
		}
	    bind "Ctrl n" {
			SwitchToMode "Normal"
		}
		unbind "Ctrl p"
	}

	renametab {
		bind "Esc" {
			UndoRenameTab;
			SwitchToMode "Tab"
		}
		bind "Ctrl n" {
			SwitchToMode "Normal"
		}
		unbind "Ctrl t"
	}

	resize {
		bind "Ctrl n" {
			SwitchToMode "Normal"
		}

		bind "h" {
			Resize "Increase Left"
		}

		bind "j" {
			Resize "Increase Down"
		}

		bind "k" {
			Resize "Increase Up"
		}

		bind "l" {
			Resize "Increase Right"
		}

		bind "H" {
			Resize "Decrease Left"
		}

		bind "J" {
			Resize "Decrease Down"
		}

		bind "K" {
			Resize "Decrease Up"
		}

		bind "L" {
			Resize "Decrease Right"
		}
	}
}

theme "catppuccin-macchiato"
